{% extends "base.html" %}
{% block content %}
<p>Today's Goods List:</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td> id</td>
        <td> Name     </td>
        <td> Price    </td>
        <td> Quantity </td>
    </tr>
{% for good in goods %}
    <tr>
        <td>  {{good.id}}</td>
        <td> {{good.name}}    </td>
        <td> {{good.price}}    </td>
        <td>
            <button>减少</button>
            <input type="text"　readonly="readonly" value="0" style="width: 30px;">
            <button>增加</button>
        </td>
    </tr>
{% endfor %}
    <tr>
        <td colspan="4" align="center" >

            <input type="submit" style="width: 160px;">

        </td>
    </tr>
</table>
<br>
{% endblock %}}