{% extends "base.html" %}
{% block content %}

<p>Today's Goods List:</p>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
        <td> id</td>
        <td> Name     </td>
        <td> Price    </td>
        <td> Quantity </td>
    </tr>
{% for good in goods %}
        <tr>
        <td>  {{good.id}}</td>
        <td> {{good.name}}    </td>
        <td> {{good.price}}    </td>
        <td><a href="{{url_for('goodspage',good_id=good.id)}}">{{good.name}}</a>
        </td>
    </tr>
{% endfor %}
    </table>

<br>
{% endblock %}}